header.header
  div.header__inner
    div.headerLogo curry
    nav.headerMenu
      ul.headerMenu__list
        li.headerMenu__listItem
          a.headerMenu__link(href="#about") このページについて
        li.headerMenu__listItem 制作過程
        li.headerMenu__listItem 完成
