@use '../_foundation/mixin' as mixin;

.header {
  background: #e46a38;
  color: #333;

  &__inner {
    @include mixin.sectionWidth();

    padding: 24px 0;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;

    @include mixin.mq(tablet) {
      padding: mixin.get_vw(24, 1280);
      font-size: mixin.get_vw(16, 1280);
    }

    @include mixin.mq() {
      padding: mixin.get_vw(24) 0;
      font-size: mixin.get_vw(16);
    }
  }
}

.headerLogo {
  font-size: 3.2rem;
  font-weight: bold;

  @include mixin.mq(tablet) {
    font-size: mixin.get_vw(32, 1280);
  }

  @include mixin.mq() {
    font-size: mixin.get_vw(32);
  }
}

.headerMenu {
  &__list {
    display: flex;
    justify-content: space-between;
    width: 400px;
    font-weight: bold;

    @include mixin.mq(tablet) {
      width: mixin.get_vw(400, 1280);
    }

    @include mixin.mq() {
      display: block;
      width: mixin.get_vw(200);
    }
  }
}
